
* {
    box-sizing: border-box;
}

body{ 
    max-width: 1280px;
}
h1{
    letter-spacing: 3px;
}
a:link {color: rgb(0, 0, 0);}
a:visited {color: greenyellow;}
a:hover {color: purple;}
a:active {color: blue;}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: solid;
    border-width: 4px 4px 0px 4px; 
    border-color: green;
    padding: 20px;
    text-align: center;
}

.header {
    color: burlywood;
}

.center {
    text-align: center;
    border-style: solid;
    border-width: 4px 4px 0px 4px; 
    border-color: red;
    padding-bottom: 1px;
}

.main {
    text-align: center;
    border-style: solid;
    border-width: 4px 4px 4px 4px; 
    border-color: blue;
    display: grid;
    grid-template-columns: auto auto auto;
}

article {
    grid-area: article;
}

.aside1 {
    grid-area: aside1;
}

.aside2 {
    grid-area: aside2;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: solid;
  border-width: 0px 4px 4px 4px; 
    border-color: black;
    padding: 20px;
    text-align: center;
}

@media (max-width: 599px) {
    footer{grid-template-columns: 1fr;}
    nav{grid-template-columns: 1fr;}
    .main {
        display: grid;
        grid-template-areas: 
            "article"
            "aside1"
            "aside2";
    }
}

@media (min-width: 600px) {
    nav{
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
    }

    .main {
        display: grid;
        grid-template-areas: 
            "article article"
            "aside1 aside2";
    }

} 



@media (min-width: 768px) and (max-width: 959px) {
    .main {
        display: grid;
        grid-template-areas: 
            "article article"
            "aside1 aside2";
    }
}


@media (min-width: 960px) and (max-width: 1279px) {
    .main {
        display: grid;
        grid-template-areas: 
            "aside1 article article aside2";
    }
}

@media (min-width: 1280px) {
    .main {
        display: grid;
        grid-template-areas: 
            "aside1 article article article aside2";
    }
}