 * {
    box-sizing: border-box;
}
body {
	max-width: 100rem;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}

.col-2 { 
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto;
}

.col-3 { 
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto auto;
}

.col-4 { 
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto auto auto;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}

p {
	font-size: 1.2em;
	height: 5em;
}

	
@media (max-width: 600px) {
    .col-2{grid-template-columns: 1fr;}
    .col-3{grid-template-columns: 1fr;}
    .col-4{grid-template-columns: 1fr;}
}

@media (min-width: 768px) and (max-width: 959px) {
    .col-2{grid-template-columns: 1fr 1fr;}
    .col-4{grid-template-columns: 1fr 1fr;}   
}


@media (min-width: 960px) and (max-width: 1279px) {
    .col-3{grid-template-columns: 3, 1fr;}
}

@media (min-width: 180px) and (max-width: 1599px) {
    .col-4{grid-template-columns: 4, 1fr;}
}